/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,100;1,200;1,300&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;

    /*========== Fonte e tipografia  ==========*/
    --body-font: "Poppins", sans-serif;

    /*========== Espessura da fonte ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Text color ==========*/
    --color-light-gray: #9f9f9f;
    --color-pink: #f71963;
    --color--background--gray: #f6f5f2;
    --color-white: #ffffff;
    --color-dark-slate-gray: #3f3f40;
    --color--background-footer: #2a2a2a;
}

/*=============== BASE ===============*/
/* Reset style */
*,
*:before,
*:after {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--body-font);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== H3 e linha ===============*/
h3 {
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--color-pink);
    font-size: 1.9rem;
    font-weight: 700;
    justify-content: center;
}

.line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 1px;
    background: linear-gradient(
        to right,
        #dedede 27%,
        transparent 25%,
        transparent 73%,
        #dedede 31%
    );
    content: "";
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

.button__icon {
    margin-left: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
